@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");


body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 400;
  background-color: var(--background-page);
}

body.dark {
  color: var(--dark-text-primary);
  background-color: var(--dark-bg-page);
}

.body-active--modal {
  overflow: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 20px 16px;
  margin: 0 auto;
  box-sizing: inherit;
}

.title {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;

  span {
    font-style: italic;
    color: $text-color-accent;
  }
}

@media #{$tablet} {
  .container {
    padding: 20px 40px;
  }
  .title {
    font-size: 60px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

