$inter: 'Inter', sans-serif;

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1440px)";

$text-color-dark: #403F3D;
$text-color-light: #E1D4C9;
$text-color-accent: #B0907A;
$background-color-body: #E1D4C9;
$background-color-container: #665F55;
$background-color-backdrop: rgba(65, 64, 62, 0.8);
$border-color-light: #C1B6AD;
$border-color-dark: #665F55;